<div class="container">
  <h1> Transponder {{ borrowedTransponder.id }} Rückgabe</h1>
  <hr>
  <p> Wollen Sie die Rückgabe von Transponder {{ borrowedTransponder.id }} bestätigen?</p>

  <div class="row">
    <div class="col-sm">
      <button mat-dialog-close="true" class="btn btn-danger">Abbrechen</button>
    </div>
    <div class="col-sm text-right">
      <button class="btn btn-success" (click)="returnTransponder()">Bestätigen</button>
    </div>
  </div>

</div>
