<form>
  <mat-form-field class="get-full-width">
    <input
      #userInput
      matInput
      type="text"
      placeholder="Raum"
      [(ngModel)]="value"
      class="get-full-width"
      [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="searchService.setRoom(value)">
      <mat-option *ngFor="let room of filteredOptions | async" [value]="room">
        {{room.name}}
      </mat-option>
    </mat-autocomplete>
    <button mat-button *ngIf="value != null" matSuffix mat-icon-button aria-label="Clear" (click)="value=null; searchService.setRoom(null)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
