<table mat-table [dataSource]="searchService.results" class="mat-elevation-z2 bg-white"  >

  <ng-container matColumnDef="transponder">
    <th mat-header-cell *matHeaderCellDef> Transponder </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="rooms">
    <th mat-header-cell *matHeaderCellDef> Raum </th>
    <td mat-cell *matCellDef="let element"> {{element.getRoomsAsString()}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      Status
      <button mat-button (click)="sortChange()" style="display:inline">
        <mat-icon>swap_vert</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="roomAuthority">
    <th mat-header-cell *matHeaderCellDef> Raumverantwortlicher </th>
    <td mat-cell *matCellDef="let element"> {{element.roomAuthority}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell  *matHeaderCellDef >  </th>
    <td mat-cell *matCellDef="let element" >

      <div matTooltip="Geben Sie zuerst einen Ausleihenden an!" [matTooltipDisabled]="isUserSelected()">
        <button *ngIf="!element.status.borrowed"
                mat-button
                class="button-primary"
                color="primary"
                (click)="borrowTransponder(element)"
                [disabled]="!isUserSelected()">
          Verleihen
        </button>
      </div>
      <button *ngIf="element.status.borrowed"
              mat-button
              class="button-primary"
              color="secondary"
              (click)="returnTransponder(element)">
        Zurückgeben
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
