<router-outlet></router-outlet>

<div class="bg-light">
  <nav class="navbar mb-4 bg-primary text-white" >
      <a class="navbar-item nav mat-h1">Übersicht</a>
  </nav>
  <div class="container">
    <app-overview></app-overview>
  </div>
</div>
