<div class="container">
  <h1 mat-dialog-title>Soll Transponder {{ data.transponder.id }} an {{ data.user.firstName }} {{ data.user.lastName }} verliehen werden?</h1>
  <hr>
  <div>
    <p class="font-weight-bold">Derzeit ausgeliehene Transponder: </p>
    <ul *ngFor="let transponder of getBorrowedTransponders(data.user);">
      <li>{{ transponder.id }}</li>
    </ul>
  </div>

  <div class="form-group">

      <h4>Unterschrift</h4>
      <div class="form-group">

        <div class="sig-container">
          <signature-pad [options]="signaturePadOptions"></signature-pad>
        </div>

        <button class="btn-sm btn-secondary" (click)="clearSigPad()">Unterschrift löschen</button>
        <p>Vergessen Sie nicht, die Identität der Person zu bestätigen!</p>
      </div>

      <div class="row">
        <div class="col-sm">
          <button mat-dialog-close="true" class="btn btn-danger">Abbrechen</button>
        </div>
        <div class="col-sm text-right">
          <button class="btn btn-success" (click)="borrowTransponder()">Bestätigen</button>
        </div>
      </div>

  </div>
</div>
