<form>
<mat-form-field class="get-full-width">
    <input
      #userInput
      matInput
      type="text"
      placeholder="Ausleihender (Name, Matrikelnummer oder CampusID"
      [(ngModel)]="value"
      class="get-full-width"
      [formControl]="myControl"
      [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn" (optionSelected)="searchService.setUser(value)">
    <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
      {{user.firstName}} {{user.lastName}}
      <div style="display:inline;" *ngIf="user.matrikelNummer !== null"> ({{user.matrikelNummer}})
      </div>
    </mat-option>
  </mat-autocomplete>
  <button mat-button *ngIf="value != null" matSuffix mat-icon-button aria-label="Clear" (click)="value=null; searchService.setUser(null)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</form>
